.reveal section img.clean-image {
    background: none;
    box-shadow: none;
    border: none;
}

#qui-suis-je #avatar {
    width: 300px;
}

#qui-suis-je #logo-norsys {
    width: 100px;
    background: none;
    box-shadow: none;
    border: none;
}

#qui-suis-je .flex-row {
    display: flex;
    justify-content: space-around;
}

#qui-suis-je .flex-element-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logo-postgresql {
    width: 200px;
}


.reveal .slides section .fragment.highlight-line-through {
    opacity: 1;
    visibility: visible;
    text-decoration: none;
}
.reveal .slides section .fragment.highlight-line-through.visible {
    text-decoration: line-through;
}
