.reveal section img.clean-image {
    background: none;
    box-shadow: none;
    border: none;
}

#qui-suis-je #avatar {
    width: 300px;
}

#qui-suis-je #logo-norsys {
    width: 100px;
    background: none;
    box-shadow: none;
    border: none;
}

#qui-suis-je .flex-row {
    display: flex;
    justify-content: space-around;
}

#qui-suis-je .flex-element-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#logo-postgresql {
    width: 200px;
}

.reveal .slides section .fragment.highlight-line-through {
    opacity: 1;
    visibility: visible;
    text-decoration: none;
}
.reveal .slides section .fragment.highlight-line-through.visible {
    text-decoration: line-through;
}

#fonctionnalites_generales h1 {
    font-size: 1.8em;
}

#foreign_data_wrapper #fdw_explication h1 {
    font-size: 2.3em;
}
#foreign_data_wrapper #fdw_explication h2 {
    font-size: 1.5em;
}
#foreign_data_wrapper #fdw_explication #creation_wrapper {
    margin-top: 40px;
}

.reveal #wrappers_list div p {
    margin: 10px;
}
#wrappers_list #SGDB_fdw {
    margin-bottom: 50px;
}

#pic-decentralisation,
#pic-cqrs-es,
#pic-decentralisation-exemple {
    height: 8em;
}
#cqrs_es_multiple {
    height: 13em;
}

#comment_ca_marche h1 {
    font-size: 2.4em;
}

#utilisation_vue_materialisee code {
    min-height: 425px;
}

.reveal #rafraichissement_proxy code {
    font-size: 0.9em;
}
#rafraichissement_proxy h2 {
    margin-top: 50px;
}

#complement2 ul li:first-child {
    list-style-type: none;
    margin-left: -60px;
}
#complement2 ul {
    margin-bottom: 20px;
}
#complement2 h2 {
    margin-top: 50px;
}

.result_sql strong {
    font-weight: 900;
    color: red;
}
.result_sql strong.result {
    color: blue;
}
.result_sql span.result {
    color: green;
}

#git_fdw_presentation h2 {
    margin-top: 70px;
}

#git_fdw_result h2 {
    margin-top: 50px;
}

#git_fdw_result pre {
    float: left;
    width: 45%;
    margin: 0 2.5%;
}

#git_fdw_chart h2 {
    margin-top: 50px;
}
